MQTT_HOST=
MQTT_PORT=8883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPICS=home/location/sensor,home/location/sensor
MQTT_CLIENT_ID=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=

LARAVEL_URL=http://localhost:8000/api/broadcast
LARAVEL_API_KEY=
LARAVEL_TIMEOUT=3

LOG_LEVEL=INFO